.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect/documents/FCA_Options_testing.Rmd/rpubs.com/rpubs/Document.dcf
rsconnect/documents/FCA_Options_testing.Rmd/rpubs.com/rpubs/Publish Document.dcf
rsconnect/documents/FCA_Options_testing.Rmd/rpubs.com/rpubs/Publish Document.dcf
